.heading {
  font-size: 82.7318rem;
  font-weight: 500;
  line-height: 1.2;
  &-black {
    color: #000;
  }
  @media (max-width: 500px) {
    font-size: 220rem;
  }
}
p {
  font-size: 41.3659rem;
  line-height: 1.4;
  @include for-phone {
    font-size: 160rem;
  }
  b,
  strong {
    font-weight: $bold;
    color: inherit;
  }
}
h1 {
  font-size: 103.4148rem;
  @include for-phone {
    font-size: 320rem;
  }
}
h2 {
  font-size: 94.0134rem;
  @include for-phone {
    font-size: 300rem;
  }
}
h3 {
  font-size: 84.6121rem;
  @include for-phone {
    font-size: 220rem;
  }
}
h4 {
  font-size: 75.2107rem;
  @include for-phone {
    font-size: 200rem;
  }
}
h5 {
  font-size: 65.8094rem;
}
h6 {
  font-size: 56.408rem;
  @include for-phone {
    font-size: 180rem;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $regular;
  line-height: 1.3;
  b,
  strong {
    font-weight: $bold;
  }
  a {
    color: inherit;
  }
}

.fw-bold {
  font-weight: $bold;
}
