.heading {
  font-size: 82.7318rem;
  font-weight: $medium;
  line-height: 1.2;
}
p {
  font-size: 41.3659rem;
  line-height: 1.4;
  b,
  strong {
    font-weight: $bold;
    color: inherit;
  }
}
h1 {
  font-size: 103.4148rem;
}
h2 {
  font-size: 94.0134rem;
}
h3 {
  font-size: 84.6121rem;
}
h4 {
  font-size: 75.2107rem;
}
h5 {
  font-size: 65.8094rem;
}
h6 {
  font-size: 56.408rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $regular;
  line-height: 1.3;
  b,
  strong {
    font-weight: $bold;
  }
  a {
    color: inherit;
  }
}
