.page-template-about {
  position: relative;
  overflow-x: hidden;
  &::after {
    content: "";
    position: absolute;
    width: 3617.6362rem;
    height: 3890.2751rem;
    right: -2502.1399rem;
    top: 500rem;
    background: radial-gradient(
      43.24% 43.24% at 50% 50%,
      #7a9bff 0%,
      rgba(230, 230, 253, 0) 100%
    );
    opacity: 0.5;
    z-index: -1;
  }
  .hero {
    .img-wrapper {
      margin-top: 0;
      height: 1190.2098rem;
      @include for-phone {
        width: 100%;
        height: 2003rem;
        img {
          padding-left: 0;
        }
      }
    }
    .content {
      width: 1295.5048rem;
      @include for-phone {
        width: 100%;
        flex: 0 0 100%;
        padding-right: 0;
        padding-bottom: 300rem;
      }
      p {
        color: #000;
        &:not(:last-of-type) {
          margin-bottom: 112.8161rem;
          @include for-phone {
            margin-bottom: 350rem;
          }
        }
      }
    }
  }
  main {
    margin-top: 169.2241rem;
    margin-bottom: 423.0604rem;
    p {
      &:not(:last-of-type) {
        margin-bottom: 1em;
      }
    }
    .ending {
      margin-top: 300.8429rem;
      @include for-phone {
        margin-top: 700rem;
      }
      .heading {
        margin-bottom: 75.2107rem;
        @include for-phone {
          margin-bottom: 350rem;
        }
      }
      p {
        a {
          color: #5565f9;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
