.post-type-archive-case-stories {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 3617.6362rem;
    height: 3890.2751rem;
    left: -2502.1399rem;
    top: 50vh;
    background: radial-gradient(
      43.24% 43.24% at 50% 50%,
      #e2e5ff 0%,
      rgba(223, 223, 255, 0) 100%
    );
    opacity: 0.5;
    z-index: -1;
  }
  .archive-header {
    margin-top: 250.0757rem;
    @include for-phone {
      margin-top: 850rem;
    }
    h1 {
      font-size: 114.6964rem;
      max-width: 2152.9072rem;
      @include for-phone {
        max-width: 100%;
        font-size: 300rem;
      }
    }
  }
  #primary {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 159.8228rem;
    margin-bottom: 282.0402rem;
    @include for-phone {
      margin-top: 350rem;
    }
    .card {
      width: 907.5867rem;
      padding: 43.2462rem;
      box-shadow: 0px 423rem 676rem rgba(50, 48, 104, 0.12);
      @include borderRadius(37.6054rem);
      margin-bottom: 131.6188rem;
      @include for-phone {
        flex: 0 0 100%;
        width: 100%;
        padding: 160rem;
        margin-bottom: 249rem;
        @include borderRadius(143rem);
      }
      &:hover {
        box-shadow: 0px 11.5952rem 55.3523rem rgb(50 48 104 / 12%);
        @include for-phone {
          box-shadow: 0px 423rem 676rem rgba(50, 48, 104, 0.12);
        }
      }
      .img-wrapper {
        width: 100%;
        height: 511.0945rem;
        margin-bottom: 69.5699rem;
        @include for-phone {
          height: 1890rem;
          margin-bottom: 210rem;
        }
        img {
          @include fullSizeImg(cover);
          @include borderRadius(34.3713rem);
        }
      }
      h2 {
        font-size: 58.2883rem;
        font-weight: $bold;
        color: #000;
        line-height: 1.2;
        margin-bottom: 34.5593rem;
        @include for-phone {
          font-size: 220rem;
          margin-bottom: 120rem;
        }
      }
      p {
        font-size: 39.4856rem;
        line-height: 1.2;
        margin-bottom: 112.8161rem;
        @include for-phone {
          font-size: 160rem;
          margin-bottom: 250rem;
        }
      }
      .btn {
        padding: 37.6054rem 88.3726rem;
        margin-bottom: 75.2107rem;
        @include for-phone {
          padding: 150rem 300rem;
          margin-bottom: 240rem;
        }
      }
    }
  }
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;

    .page {
      &-numbers {
        font-size: 33.8448rem;
        font-weight: $medium;
        width: 109.0556rem;
        height: 109.0556rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        transition: color 0s;
        margin-right: 30.0843rem;

        @include borderRadius(50%);
        @include for-phone {
          font-size: 140rem;
          width: 440rem;
          height: 440rem;
        }

        &:hover,
        &.current {
          &:not(.dots) {
            background: #5676fd;
            background: linear-gradient(270deg, #1949f6 8.3%, #5676fd 100%);
            color: #fff;
          }
        }
      }
    }
  }
}
