#page {
  position: relative;
  overflow-x: hidden;
  &::after {
    content: "";
    position: absolute;
    width: 3923.8191rem;
    height: 1726.1803rem;
    left: 0;
    top: -686.5988rem;
    background: linear-gradient(168.88deg, #d9e4ff 8.22%, #fcfdff 55.31%);
    @include borderRadius(210.9755rem);
    z-index: -9;
    pointer-events: none;
    @include for-phone {
      display: none;
    }
  }
}
.dust {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 200vh;
    z-index: -2;
    background: radial-gradient(
      43.24% 43.24% at 50% 50%,
      #7a9bff 0%,
      rgba(230, 230, 253, 0)
    );
    opacity: 0.5;
    @include ver-center();
  }
  &-left-side {
    &::before {
      left: -100vw;
    }
  }
  &-right-side {
    &::before {
      right: -100vw;
    }
  }
  &-no-space {
    position: absolute;
    width: 100vh;
    z-index: -1;
  }
}
