#product-intro {
  margin-bottom: 272.6389rem;
  @include for-phone {
    margin-bottom: 500rem;
  }
  .content {
    flex: 0 0 1306.7865rem;
    width: 1306.7865rem;
    @include for-phone {
      flex: 0 0 100%;
      width: 100%;
    }
    .heading {
      margin-bottom: 75.2107rem;
      @include for-phone {
        margin-bottom: 380rem;
      }
    }
    p {
      &:not(:last-of-type) {
        margin-bottom: 1.5em;
      }
      a {
        color: #6557ff;
        position: relative;
        text-decoration: none;
        @include for-phone {
          text-decoration: underline;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: -7.5211rem;
          left: 0;
          width: 100%;
          height: 3.7605rem;
          background: #6557ff;
          transition: 0.5s;
          z-index: -9;
          @include for-phone {
            display: none;
          }
        }
        &:hover {
          color: #fff;
          @include for-phone {
            color: #6557ff;
          }
          &::after {
            height: calc(7.5211rem + 100%);
            width: 100%;
          }
        }
      }
    }
    .btn {
      margin-top: 109.0556rem;
      @include for-phone {
        margin-top: 250rem;
      }
    }
  }
  .img-wrapper {
    width: 1357.5537rem;
    flex: 0 0 1357.5537rem;
    @include for-phone {
      width: 100%;
      flex: 0 0 100%;
      margin-top: 500rem;
    }
  }
}
#testemonials-section {
  overflow: hidden;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 4772.3841rem;
    height: 2180.3967rem;
    left: -677.0282rem;
    top: 825rem;
    background: linear-gradient(
      159.89deg,
      #ebf1ff 13.4%,
      rgba(198, 202, 231, 0) 37.79%
    );
    @include borderRadius(210.9755rem);
    z-index: -9;
    @include rotate(3.95);
    pointer-events: none;
    @include for-phone {
      display: none;
    }
  }
  header {
    margin-bottom: 178.6255rem;
    .heading {
      line-height: 1.3;
    }
    .btns-wrapper {
      @include for-phone {
        display: none;
      }
      a {
        @include borderRadius(50%);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 26.3238rem;
        width: 120.3372rem;
        height: 120.3372rem;
        background: linear-gradient(0deg, #1949f6 8.3%, #5676fd 100%);
        &:hover {
          background: linear-gradient(180deg, #1949f6 8.3%, #5676fd 100%);
        }
        &:not(:last-of-type) {
          margin-right: 37.6054rem;
        }
      }
    }
  }
  .wrapper {
    padding-left: var(--side-padding);
    @include for-phone {
      padding-right: var(--side-padding);
    }
  }
  .testemonials-slider {
    .slick-slide {
      margin: 0 112.8161rem;
      @include for-phone {
        margin: 0 200rem;
      }
    }
    .slick-list {
      margin: 0 -112.8161rem;
      @include for-phone {
        margin: 0 -200rem;
      }
    }
    .slick-track {
      display: flex !important;
      align-items: center;
      align-content: center;
    }
    .single-testemonial {
      padding: 94.0134rem 112.8161rem;
      @include borderRadius(13.1619rem);
      background: #fff;
      box-shadow: 0px 94.0134rem 120rem rgba(85, 101, 249, 0.25);
      width: 1128.161rem;
      flex: 0 0 1128.161rem;
      @include for-phone {
        flex: 1 0 auto;
        width: auto;
        padding: 230rem 310rem;
        @include borderRadius(39rem);
        height: inherit !important;
      }
      h4 {
        font-size: 41.3659rem;
        letter-spacing: 0.02em;
        font-weight: $semiBold;
        margin-bottom: 28.204rem;
        @include for-phone {
          font-size: 160rem;
          margin-bottom: 80rem;
        }
      }
      .rating {
        margin-bottom: 31.9646rem;
        @include for-phone {
          margin-bottom: 100rem;
        }
        i {
          color: #f6ad55;
          font-size: 31.9646rem;
          @include for-phone {
            font-size: 100rem;
          }
        }
      }
      .message {
        font-size: 37.6054rem;
        line-height: 1.2;
        color: #4d4f63;
        margin-bottom: 41.3659rem;
        @include for-phone {
          font-size: 140rem;
          margin-bottom: 120rem;
        }
      }
      h5 {
        margin-bottom: 15.0421rem;
        font-size: 37.6054rem;
        letter-spacing: 0.02em;
        font-weight: $bold;
        @include for-phone {
          font-size: 140rem;
        }
      }
      .date {
        text-transform: capitalize;
        color: #9f9f9f;
        @include for-phone {
          font-size: 120rem;
        }
      }
    }
  }
  footer {
    padding-top: 654.3334rem;
    padding-bottom: 398.6169rem;
    padding-left: var(--side-padding);
    position: relative;
    overflow: hidden;
    @include for-phone {
      padding-right: var(--side-padding);
      padding-top: 2340rem;
      margin-top: 200rem;
      padding-bottom: 380rem;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background: url("../../assets/icons/ending-left-deco.svg");
      @include bg-props(100%, 30% 0, no-repeat);
      width: 1318.906rem;
      height: 1387.9752rem;
      z-index: -1;
      pointer-events: none;
      @include for-phone {
        bottom: auto;
        top: 0;
        width: 100%;
        height: 3985rem;
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -90rem;
      right: 0;
      background: url("../../assets/icons/ending-right-deco.svg");
      @include bg-props(cover, 0% 0%, no-repeat);
      width: 1508.906rem;
      height: 938.9282rem;
      z-index: -1;
      @include for-phone {
        bottom: 0;
        width: 100%;
        height: 1710rem;
      }
    }
    .content {
      width: 1900.9512rem;
      flex: 0 0 1900.9512rem;
      @include for-phone {
        flex: 0 0 auto;
        width: 100%;
        position: relative;
        z-index: 1;
      }
      h3 {
        margin-bottom: 62.0489rem;
        @include for-phone {
          margin-bottom: 300rem;
        }
      }
      p {
        margin-bottom: 116.5766rem;
        @include for-phone {
          margin-bottom: 340rem;
        }
      }
    }
    .img-wrapper {
      width: 1366.955rem;
      height: 870.5642rem;
      position: absolute;
      @include ver-center();
      right: -80rem;
      @include for-phone {
        width: 2739rem;
        margin-left: auto;
        right: calc(var(--side-padding) * -1);
        height: 2228rem;
        @include rm-transform();
        position: relative;
      }
    }
  }
}
