#short-description {
  header {
    h3 {
      margin-bottom: 103.4148rem;
    }
    p {
      margin-bottom: 161.7031rem;
    }
  }
  .wrapper {
    .image-box {
      flex: 0 0 auto;
      max-width: 25%;
      position: relative;
      &:not(:last-of-type) {
        padding-right: 112.8161rem;
        &::after {
          position: absolute;
          content: "";
          right: 0;
          height: 120%;
          width: 1.8803rem;
          background: #bccbff;
          @include ver-center();
        }
      }
      &:not(:first-of-type) {
        padding-left: 112.8161rem;
      }
      .img-wrapper {
        width: 100%;
        height: 272.6389rem;
        margin-bottom: 78.9713rem;
      }
      p {
        font-weight: $semiBold;
        line-height: 1.3;
      }
    }
  }
}
