.page-template-production {
  .hero-inner {
    p {
      font-weight: $bold;
    }
    .extra {
      p {
        font-weight: $regular;
      }
    }
  }
  #intro {
    margin-bottom: 263.2376rem;
    @include for-phone {
      margin-bottom: 500rem;
    }
    h3 {
      margin-bottom: 112.8161rem;
      @include for-phone {
        margin-bottom: 420rem;
      }
    }
    p {
      &:not(:last-of-type) {
        margin-bottom: 65.8094rem;
        @include for-phone {
          margin-bottom: 300rem;
        }
      }
    }
  }
  #listing-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 300.8429rem;
    @include for-phone {
      display: block;
    }
    h3 {
      flex: 0 0 100%;
      width: 100%;
      font-size: 82.7318rem;
      color: #1138c6;
      font-weight: $semiBold;
      margin-bottom: 150.4215rem;
      @include for-phone {
        margin-bottom: 350rem;
        font-size: 220rem;
      }
    }
    .col {
      flex: 0 0 auto;
      width: 50%;
      @include for-phone {
        flex: 0 0 100%;
        width: 100%;
      }
      .checkmark-list {
        max-width: 1410rem;
        @include for-phone {
          flex: 0 0 100%;
          max-width: 100%;
          margin-bottom: 380rem;
        }
        li {
          color: #000;
          font-size: 41.3659rem;
          &:not(:last-of-type) {
            margin-bottom: 65.8094rem;
            @include for-phone {
              margin-bottom: 160rem;
            }
          }
          @include for-phone {
            font-size: 180rem;
          }
        }
      }
      p {
        font-weight: $regular;
        font-size: 41.3659rem;
        color: #333;
        max-width: 1355.6734rem;
        @include for-phone {
          max-width: 100%;
          font-size: 180rem;
        }
        &:not(:last-of-type) {
          margin-bottom: 65.8094rem;
          @include for-phone {
            margin-bottom: 300rem;
          }
        }
      }
    }
  }
  #image-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 300.8429rem;
    padding-left: var(--side-padding);
    @include for-phone {
      display: block;
      padding-right: var(--side-padding);
    }
    .col {
      flex: 0 0 auto;
      width: 1366.955rem;
      @include for-phone {
        width: 100%;
        flex: 0 0 100%;
      }
      .heading {
        margin-bottom: 75.2107rem;
        @include for-phone {
          margin-bottom: 350rem;
          font-size: 220rem;
        }
      }
      .checkmark-list {
        margin-top: 103.4148rem;
        @include for-phone {
          margin-top: 300rem;
        }
        li {
          &:not(:last-of-type) {
            margin-bottom: 65.8094rem;
            @include for-phone {
              margin-bottom: 320rem;
            }
          }
        }
      }
    }
    .img-wrapper {
      margin-left: -37.6054rem;
      position: relative;
      flex: 0 0 auto;
      width: 1927.275rem;
      height: 1444.046rem;
      @include for-phone {
        flex: 0 0 100%;
        width: 100%;
        margin-left: 0;
        height: 2490rem;
        position: relative;
        right: -193rem;
        margin-bottom: 250rem;
      }
      &::before {
        content: "";
        position: absolute;
        right: -160rem;
        top: 50rem;
        @include borderRadius(210.59rem);
        @include rotate(13.75);
        width: 1591.9855rem;
        height: 1591.9855rem;
        background: linear-gradient(
          159.89deg,
          #d9e1fd 13.4%,
          rgba(198, 202, 231, 0) 37.79%
        );
        z-index: -1;
        @include for-phone {
          display: none;
        }
      }
    }
  }
  #second-image-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 282.0402rem;
    margin-bottom: 188.0268rem;
    position: relative;
    @include for-phone {
      flex-direction: column;
      padding-top: 1420rem;
    }
    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: -180rem;
      width: 772.7903rem;
      height: 436.2222rem;
      background: url("../../assets/icons/airplane-with-line.svg");
      @include bg-props(cover, center, no-repeat);
      @include for-phone {
        width: 2245rem;
        height: 1269rem;
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 225.6322rem;
      width: 212.9028rem;
      height: 212.9028rem;
      background: url("../../assets/icons/dotted-decoration-horizontal.svg");
      @include bg-props(520rem, center, no-repeat);
      @include for-phone {
        display: none;
      }
    }
    .img-wrapper {
      flex: 0 0 auto;
      width: 1344.3918rem;
      height: 1421.4828rem;
      position: relative;
      @include for-phone {
        order: 2;
        width: 100%;
        flex: 0 0 100%;
      }
      &::before {
        content: "";
        position: absolute;
        left: -332rem;
        bottom: 18.8027rem;
        width: 520.8343rem;
        height: 233.1533rem;
        background: url("../../assets/icons/line-deco.svg");
        @include bg-props(contain, center, no-repeat);
        z-index: -1;
      }
    }
    .col {
      flex: 0 0 auto;
      width: 1316.1878rem;
      @include for-phone {
        order: 1;
        width: 100%;
        flex: 0 0 100%;
      }
      .heading {
        margin-bottom: 75.2107rem;
        line-height: 1.3;
        @include for-phone {
          margin-bottom: 300rem;
        }
      }
      p {
        line-height: 1.5;
        &:not(:last-of-type) {
          margin-bottom: 65.8094rem;
          @include for-phone {
            margin-bottom: 350rem;
          }
        }
      }
      .btn {
        margin-top: 122.2174rem;
        @include for-phone {
          margin-top: 390rem;
          margin-bottom: 600rem;
        }
      }
    }
  }
}
