.page-template-webinars {
  .hero {
    @include for-phone {
      .content {
        &::after {
          display: none;
        }
      }
    }
    .extra {
      p {
        font-size: 82.7318rem;
        font-weight: $medium;
        @include for-phone {
          font-size: 220rem;
        }
      }
    }
  }
  main {
    .checkmark-list {
      margin-top: 122.2174rem;
      margin-bottom: 150.4215rem;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: flex-start;
      align-content: flex-start;

      @include for-phone {
        margin-top: 550rem;
        margin-bottom: 790rem;
      }
      li {
        flex: 0 0 45%;
        width: 45%;
        @include for-phone {
          flex: 0 0 100%;
          width: 100%;
        }
        &:not(:last-of-type) {
          margin-bottom: 129.7385rem;
          @include for-phone {
            margin-bottom: 350rem;
          }
        }
      }
    }
    .bottom {
      margin-bottom: 376.0537rem;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 3617.6362rem;
        height: 3890.2751rem;
        right: -3000.1399rem;
        bottom: -400rem;
        background: radial-gradient(
          43.24% 43.24% at 50% 50%,
          #7a9bff 0%,
          rgba(230, 230, 253, 0) 100%
        );
        opacity: 0.5;
        z-index: -1;
      }
      form {
        .wpcf7-response-output {
          margin-right: 188.0268rem;
        }
        br {
          display: none;
        }
        label {
          display: block;
          line-height: 1;
          margin-bottom: 52.6475rem;
          font-size: 41.3659rem;
          font-weight: $semiBold;
          margin-top: 65.8094rem;
          @include for-phone {
            font-size: 160rem;
            margin-bottom: 200rem;
            margin-top: 200rem;
          }
        }
        .container {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          padding-right: 188.0268rem;
          @include for-phone {
            padding-right: 0;
          }
          .col {
            flex: 0 0 auto;
            width: 1231.5757rem;
            @include for-phone {
              flex: 0 0 100%;
              width: 100%;
            }
            input,
            select,
            textarea {
              &:focus {
                outline: 3.7605rem solid #1c4bf6;
                @include for-phone {
                  outline: 15rem solid #1c4bf6;
                }
              }
            }
            input {
              &[type="text"],
              &[type="tel"],
              &[type="email"] {
                width: 100%;
                background: #f4f1fb;
                padding: 37.6054rem 63.9291rem;
                color: #000;
                font-size: 37.6054rem;
                line-height: 1.5;
                border: none;
                @include for-phone {
                  padding: 140rem 270rem;
                  font-size: 140rem;
                }
              }
              &[type="submit"] {
                border: none;
                margin-top: -143rem;
                width: 100%;
                cursor: pointer;
                @include for-phone {
                  margin-top: 180rem;
                  @include borderRadius(18rem);
                  line-height: 1;
                }
              }
            }
            textarea {
              width: 100%;
              background: #f4f1fb;
              padding: 37.6054rem 63.9291rem;
              color: #000;
              font-size: 37.6054rem;
              line-height: 1.3;
              font-family: $poppins;
              border: none;
              height: 396.7366rem;
              resize: none;
              @include for-phone {
                padding: 140rem 270rem;
                font-size: 140rem;
                height: 1800rem;
              }
            }
            select {
              width: 100%;
              background: #f4f1fb;
              padding: 37.6054rem 63.9291rem;
              color: #000;
              font-size: 37.6054rem;
              line-height: 1.3;
              font-family: $poppins;
              border: none;
              -moz-appearance: none; /* Firefox */
              -webkit-appearance: none; /* Safari and Chrome */
              appearance: none;
              position: relative;
              background: url("../../assets/icons/br-down.png") no-repeat 95%
                55% #f4f1fb;
              @include for-phone {
                padding: 140rem 270rem;
                font-size: 140rem;
              }
            }
          }
        }
      }
    }
  }
}
