.page-template-wholesale {
  @include for-phone {
    .hero {
      .content {
        padding-right: 0;
      }
    }
  }
  #inner-content {
    margin-bottom: 413.659rem;
    header {
      margin-bottom: 120.3372rem;
      text-align: center;
      @include for-phone {
        margin-bottom: 1000rem;
      }
      h4 {
        font-weight: $bold;
        margin-bottom: 131.6188rem;
        @include for-phone {
          margin-bottom: 320rem;
        }
      }
    }
    main {
      margin-bottom: 244.4349rem;
      .content {
        @include for-phone {
          flex-direction: column;
        }
        .img-wrapper {
          width: 48%;
          flex: 0 0 48%;
          @include for-phone {
            width: 100%;
            flex: 0 0 100%;
            order: 2;
            margin-bottom: 250rem;
          }
        }
        .col {
          flex: 0 0 auto;
          width: 1366.955rem;
          position: relative;
          padding-bottom: 188.0268rem;
          @include for-phone {
            width: 100%;
            flex: 0 0 100%;
            order: 1;
            margin-bottom: 250rem;
          }
          &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            width: 503.7991rem;
            height: 169.1301rem;
            background: url("../../assets/icons/dotted-decoration-horizontal.svg");
            @include bg-props(contain, center, no-repeat);
          }
          h5 {
            margin-bottom: 54.5278rem;
            @include for-phone {
              margin-bottom: 270rem;
            }
          }
          p {
            margin-bottom: 56.408rem;
            @include for-phone {
              margin-bottom: 320rem;
            }
          }
          ul {
            li {
              &:not(:last-of-type) {
                margin-bottom: 54.5278rem;
                @include for-phone {
                  margin-bottom: 220rem;
                }
              }
            }
          }
        }
      }
    }
    footer {
      @include for-phone {
        display: block;
      }
      h6 {
        font-weight: $bold;
        margin-bottom: 338.4483rem;
        text-align: center;
      }
      .content {
        .col {
          flex: 0 0 auto;
          width: 1316.1878rem;
          @include for-phone {
            flex: 0 0 100%;
            width: 100%;
            margin-bottom: 650rem;
          }
          h6 {
            margin-bottom: 75.2107rem;
            font-weight: $medium;
            text-align: initial;
            line-height: 1.3;
          }
          p {
            line-height: 1.5;
            &:not(:last-of-type) {
              margin-bottom: 1.5em;
            }
            a {
              color: #5565f9;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          .btn {
            margin-top: 150.4215rem;
          }
        }
        .img-wrapper {
          flex: 0 0 auto;
          width: 1344.3918rem;
          height: 1421.4828rem;
          @include for-phone {
            flex: 0 0 100%;
            width: 100%;
            height: 3520rem;
          }
        }
      }
    }
  }
}
