.page-template-why-page {
  position: relative;
  overflow-x: hidden;
  &::after {
    content: "";
    position: absolute;
    width: 3617.6362rem;
    height: 3890.2751rem;
    right: -2502.1399rem;
    bottom: 500rem;
    background: radial-gradient(
      43.24% 43.24% at 50% 50%,
      #7a9bff 0%,
      rgba(230, 230, 253, 0) 100%
    );
    opacity: 0.5;
    z-index: -1;
  }
  .hero {
    margin-top: 225.6322rem;
    margin-bottom: 84.6121rem;
    @include for-phone {
      margin-bottom: 400rem;
      .content {
        padding-right: 0;
      }
    }
    .img-wrapper {
      margin-top: 0;
      height: 1240.9771rem;
      @include for-phone {
        width: 100%;
        height: 3260rem;
        img {
          padding-left: 0;
        }
      }
    }
  }
  main {
    margin-bottom: 423.0604rem;

    .top {
      padding-left: 186.1466rem;
      padding-right: var(--side-padding);
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-content: center;
      flex-wrap: wrap;
      flex-direction: row;
      margin-bottom: 129.7385rem;
      position: relative;
      @include for-phone {
        padding-left: var(--side-padding);
      }
      &::before {
        content: "";
        position: absolute;
        left: -242.206rem;
        top: 100rem;
        width: 1590.707rem;
        height: 1590.707rem;
        @include borderRadius(210.59rem);
        @include rotate(13.75);
        background: linear-gradient(
          159.89deg,
          #d9e1fd 13.4%,
          rgba(198, 202, 231, 0) 37.79%
        );
        z-index: -1;
        @include for-phone {
          display: none;
        }
      }
      .img-wrapper {
        flex: 0 0 auto;
        width: 1492.933rem;
        height: 1256.0192rem;
        position: relative;
        @include for-phone {
          width: 100%;
          flex: 0 0 100%;
          order: 2;
          height: 3105rem;
          margin-bottom: 455rem;
          margin-top: 870rem;
          &::before {
            content: "";
            position: absolute;
            left: -1341.206rem;
            top: -170rem;
            width: 3931rem;
            height: 3931rem;
            @include borderRadius(480rem);
            @include rotate(13.75);
            background: linear-gradient(
              159.89deg,
              #d9e1fd 13.4%,
              rgba(198, 202, 231, 0) 37.79%
            );
            z-index: -1;
          }
        }
      }
      .col {
        flex: 0 0 auto;
        width: 1353.7932rem;
        @include for-phone {
          width: 100%;
          flex: 0 0 100%;
          order: 1;
        }
        .heading {
          color: #1138c6;
          margin-bottom: 112.8161rem;
          font-weight: $semiBold;
          @include for-phone {
            margin-bottom: 420rem;
          }
        }
        p {
          &:not(:last-of-type) {
            margin-bottom: 71.4502rem;
            @include for-phone {
              margin-bottom: 350rem;
            }
          }
        }
      }
    }
    .bottom {
      p {
        b,
        strong {
          font-weight: $bold;
        }
        a {
          color: #5565f9;
          &:hover {
            text-decoration: underline;
          }
        }
        &:not(:last-of-type) {
          margin-bottom: 71.4502rem;
          @include for-phone {
            margin-bottom: 350rem;
          }
        }
      }
    }
  }
}
