.btn {
  font-size: 37.6054rem;
  font-weight: $bold;
  padding: 37.6054rem 139.1399rem;
  display: block;
  @include borderRadius(5.6408rem);
  line-height: 1;
  @include for-phone {
    padding: 140rem 350rem;
    font-size: 140rem;
    @include borderRadius(30rem);
  }
  &.white-bg {
    color: #5565f9;
  }
}
