#cta-section {
  margin-bottom: 338.4483rem;
  .wrapper {
    position: relative;
    @include borderRadius(9.4013rem);
    background: linear-gradient(
      180deg,
      #87a1ff 39.49%,
      #93abff 84.15%,
      #a7baff 104.28%
    );
    display: flex;
    padding: 69.5699rem 188.0268rem 69.5699rem 0;
    overflow: hidden;
    @include for-phone {
      flex-wrap: wrap;
      padding: 0 0 490rem 0;
      @include borderRadius(30rem);
    }
    &::after {
      content: "";
      position: absolute;
      right: 148.5412rem;
      bottom: 148.5412rem;
      background: url("../../assets/icons/dotted-decoration.svg");
      @include bg-props(cover, center, repeat);
      width: 167.3439rem;
      height: 167.3439rem;
      @include for-phone {
        display: none;
      }
    }
    .img-wrapper {
      height: 1235.3363rem;
      width: 1923.5144rem;
      flex: 0 0 1923.5144rem;
      margin-left: -268rem;
      @include for-phone {
        width: 100%;
        flex: 0 0 100%;
        margin-left: 0;
        order: 2;
        height: 2657rem;
        img {
          object-position: 65%;
          -o-object-position: 65%;
        }
      }
    }
    .content {
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 0 0 1143.2031rem;
      width: 1143.2031rem;
      margin-left: 47.0067rem;
      @include for-phone {
        flex: 0 0 100%;
        width: 100%;
        order: 1;
        padding: 600rem 100rem 0 330rem;
        margin-left: 0;
        margin-bottom: 190rem;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-bottom: 63.9291rem;
        @include for-phone {
          margin-bottom: 290rem;
        }
      }
      p {
        &:not(:last-of-type) {
          margin-bottom: 1.5em;
        }
        &:last-of-type {
          margin-bottom: 101.5345rem;
          @include for-phone {
            margin-bottom: 290rem;
          }
        }
      }
    }
  }
}
