#hero-home {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: var(--side-padding);
  .content {
    flex: 0 0 auto;
    width: 50%;
    h2 {
      font-size: 114.6964rem;
      font-weight: $bold;
      margin-bottom: 90.2529rem;
      line-height: 1.2;
    }
    p {
      font-size: 41.3659rem;
      line-height: 1.3;
      margin-bottom: 69.5699rem;
    }
  }
  .img-wrapper {
    flex: 0 0 auto;
    width: 50%;
    margin-top: 216.2309rem;
    img {
      padding-left: 47.0067rem;
    }
  }
}
