#masthead {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: #fff;
  border-bottom: 1.8803rem solid #a0b8ff;
  z-index: 99;
  .col {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    .logo-wrapper {
      width: 293.3219rem;
      height: 146.6609rem;
      margin-right: 163.5833rem;
    }
    ul {
      &.menu {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        &#primary-menu {
          li {
            &:not(:last-of-type) {
              margin-right: 139.1399rem;
            }
            a {
              font-size: 37.6054rem;
              font-weight: $semiBold;
              color: #0a2e66;
              line-height: 214.36rem;
              position: relative;
              &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 3.760537rem;
                background: #0a2e66;
                left: 0;
                bottom: -9.401341rem;
                transform: scaleX(0);
                -moz-transform: scaleX(0);
                -webkit-transform: scaleX(0);
                -webkit-transform-origin: center;
                -moz-transform-origin: center;
                transform-origin: center;
                transition: transform 550ms cubic-bezier(0.25, 1, 0.5, 1);
                -moz-transition: transform 550ms cubic-bezier(0.25, 1, 0.5, 1);
                -webkit-transition: transform 550ms
                  cubic-bezier(0.25, 1, 0.5, 1);
              }
              &:hover {
                &::after {
                  transform: scaleX(1);
                  -webkit-transform: scaleX(1);
                  -moz-transform: scaleX(1);
                  transform-origin: center;
                  -webkit-transform-origin: center;
                  -moz-transform-origin: center;
                }
              }
            }
          }
        }
        &#primary-toolbar {
          li {
            &:not(:last-of-type) {
              margin-right: 37.6054rem;
            }
            &.btn {
              padding: 0;
              a {
                background: #6886c3;
                @include borderRadius(5.6408rem);
                padding: 37.6054rem 101.5345rem;
                font-size: 37.6054rem;
                font-weight: $medium;
                color: #fff;
                display: block;
                position: relative;
                overflow: hidden;
                &::after {
                  content: "";
                  position: absolute;
                  top: -50%;
                  right: -50%;
                  bottom: -50%;
                  left: -50%;
                  background: linear-gradient(
                    to bottom,
                    rgba(229, 172, 142, 0),
                    rgba(255, 255, 255, 0.5) 50%,
                    rgba(229, 172, 142, 0)
                  );
                  transform: rotateZ(60deg) translate(-5em, 7.5em);
                }
                &:hover {
                  box-shadow: 0 5.6408rem 11.2816rem rgba(0, 0, 0, 0.36);
                  &::after {
                    animation: sheen 1s forwards;
                  }
                }
              }
              &-login {
                a {
                  background: linear-gradient(
                    137.52deg,
                    #6886c3 -37.59%,
                    #5565f9 4.05%,
                    #1a0f91 84.33%,
                    #5565f9 155.18%
                  );
                }
              }
              &-sign-up {
                a {
                  background: #fc4363;
                }
              }
            }
          }
        }
      }
    }
  }
}
